body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
}
header nav ul{
    list-style: none;
    padding: 0;
    font-size: 18px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
li{
    display: inline;
    margin: 0 1em;
}
#getapp{
    margin-right: 550px;
    font-size: 14px;
    margin-left: 2px;
    font-weight: lighter;
}
ul{
    
    text-align: center;
    list-style: none;
    
}
.a1{
    text-decoration: none;
    color: #fff;
}
i{
    font-size: 14px;
    color: white;
}
nav{
    padding: 17px 0;
}
header{
    background-image: url(zomato\ picture.png);
    background-size: cover;
    height: 420px;    
}
img{
    width: 300px;
    height: 60px;
    margin-left: 530px;
    margin-top: 15px;
}
#head{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#navsearch{
    display: flex;
    background-color: white;
    width: 800px;
    align-items: center;
    justify-content: left;
    margin-left: 278px;
    height: 52px;
    border-radius: 8px;
    
}
#select{
    margin-left: 10px;
    border-top:  none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-right: 1px solid #BEBFC5;
    border-left: none;
    border-bottom: none;
    margin-right: 4px;
    color: #696969;
    height: 25px;
    font-size: 15px;
    width: 185px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#i2{
    margin-left: 13px;
    font-size: 20px;
    color: #e03543;
}
#selectarrow::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    border-right: 2px solid #696969;
    border-bottom: 2px solid #696969;
    pointer-events: none;
    transform: rotate(45deg);
    right: 870px;
    top: 287px;
    transition: transform 0.2s ease-in-out;
    
}
select:focus{
    outline: none;
}
#selectarrow:focus-within::after{
    transform: rotate(225deg)
}
#i3{
    margin-left: 13px;
    font-size: 20px;
    margin-right: 20px;
    color: #696969;
}
#search{
    border: none;
    font-size: 15px;
    width: 500px;

}
#search:focus{
    outline: none;
}
#optiongps{
    color: #e03543;
}
.pic{
    height: 150px;
    width: 320px;
    margin: 0;
    margin-top: 40px;
    display: flex;
    align-items: center;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
#pic1{
    margin-left: 180px;
    
}
#pic3{
    margin-right: 180px;
    
}
.item{
    text-align: center;
    margin: 0 5px;
    flex: 1;
}
#text1{
    width: 298px;
    height: 60px;
    margin-left: 180px;
    border-left: 0.5px solid #DBD7D2;
    border-right: 0.5px solid #DBD7D2;
    margin-top: 0;
    padding-top: 15px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #555555;
}
#p1{
    width: 298px;
    height: 35px;
    margin-left: 180px;
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
    top: 657px;
    position: absolute;
    color: #696969;
}
.hr1{
    position: absolute;
    width: 312px;
    height: 1px;
    background-color:#DBD7D2 ;
    left: 188px;
    border-radius: 15px;
    top: 673.5px;
    border: none;
}
#text2{
    width: 298px;
    height: 60px;
    margin-left: 180px;
    border-left: 0.5px solid #DBD7D2;
    border-right: 0.5px solid #DBD7D2;
    margin-top: 0;
    padding-top: 15px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #555555;
    right: 180px;
}
#p2{
    width: 298px;
    height: 35px;
    margin-left: 180px;
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
    top: 657px;
    position: absolute;
    color: #696969;
    left: 342px;
}
.hr2{
    position: absolute;
    width: 312px;
    height: 1px;
    background-color:#DBD7D2 ;
    left: 522px;
    border-radius: 15px;
    top: 673.5px;
    border: none;
}
#text3{
    width: 298px;
    height: 60px;
    margin-left: 180px;
    border-left: 0.5px solid #DBD7D2;
    border-right: 0.5px solid #DBD7D2;
    margin-top: 0;
    padding-top: 15px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #555555;
    right: 180px;
}
#p3{
    width: 298px;
    height: 35px;
    margin-left: 180px;
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
    top: 657px;
    position: absolute;
    color: #696969;
    right: 168px;
}
.hr3{
    position: absolute;
    width: 312px;
    height: 1px;
    background-color:#DBD7D2 ;
    left: 860px;
    border-radius: 15px;
    top: 673.5px;
    border: none;
}
#div2{
    width: 320px;
}

#div3{
    width: 320px;
    margin-right: 320px;
}
.item{
    cursor: pointer;
}
#Collections{
    margin-left: 184px;
    margin-top: 60px;
    color: #1c1c1c;
    position: relative;
} 
#p4{
    margin-left: 185px;
    color: #363636;
    position: absolute;
    top: 795px;
    font-size: 18px;
}
#p5{
    right: 163px;
    color: #363636;
    position: absolute;
    top: 800px;
    
}
#i4{
    transform: rotate(270deg);
    font-size: 16px;
    color: #e03543;
    margin-left: 10px;
}
#a2{
    margin-right: 10px;
    text-decoration: none;
    color: #e03543;
    margin-left: 2px;
}
#photo4div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
#photo1{
    width: 320px;
    margin-left: 185px;
    border-radius: 15px;
}
#photo2{
    width: 320px;
}
#photo3{
    width: 320px;
}
#photo4{
    width: 300px;
    margin-right: 400px;
    border-radius: 15px;
}
.ph{
    height: 290px;
    width: 240px;
    object-fit: cover;
    margin: 2px;
    margin-top: 40px;
    border-radius: 5px;
}

