body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
}
header nav ul{
    list-style: none;
    padding: 0;
    font-size: 18px;
    padding-left: 15px;
}
li{
    display: inline;
    margin: 0 1em;
}
#getapp{
    margin-right: 550px;
    font-size: 14px;
    margin-left: 2px;
    font-weight: lighter;
}
ul{    
    text-align: center;
    list-style: none;  
}
.a1{
    text-decoration: none;
    color: #fff;
}
i{
    font-size: 14px;
    color: white;
}
nav{
    padding: 17px 0;
}
header{
    background-image: url(zomato\ picture.png);
    background-size: cover;
    height: 420px; 
}
img{
    width: 300px;
    height: 60px;
    margin-left: 530px;
    margin-top: 15px;
}
#head{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 36px;
}
#bold{
    font-weight: lighter;
}
#navsearch{
    display: flex;
    background-color: white;
    width: 800px;
    align-items: center;
    justify-content: left;
    margin-left: 278px;
    height: 52px;
    border-radius: 8px;
}
#select{
    margin-left: 10px;
    border-top:  none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-right: 1px solid #BEBFC5;
    border-left: none;
    border-bottom: none;
    margin-right: 4px;
    color: #696969;
    height: 25px;
    font-size: 15px;
    width: 185px;
}
#i2{
    margin-left: 13px;
    font-size: 20px;
    color: #ED7A9B;
}
#selectarrow::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    border-right: 2px solid #696969;
    border-bottom: 2px solid #696969;
    pointer-events: none;
    transform: rotate(45deg);
    right: 870px;
    top: 287px;
    transition: transform 0.2s ease-in-out;
    
}
select:focus{
    outline: none;
}
#selectarrow:focus-within::after{
    transform: rotate(225deg)
}
#i3{
    margin-left: 13px;
    font-size: 20px;
    margin-right: 20px;
    color: #696969;
}
#search{
    border: none;
    font-size: 15px;
    width: 500px;

}
#search:focus{
    outline: none;
}
#optiongps{
    color: #e03543;
}
.pic{
    height: 150px;
    width: 320px;
    margin: 0;
    margin-top: 40px;
    display: flex;
    align-items: center;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
.hre{
    text-decoration: none;
}
#pic1{
    margin-left: 180px;
    
}
#pic3{
    margin-right: 180px;
    
}
.item{
    text-align: center;
    margin: 0 5px;
    flex: 1;
}
#text1{
    width: 298px;
    height: 60px;
    margin-left: 180px;
    border-left: 0.5px solid #DBD7D2;
    border-right: 0.5px solid #DBD7D2;
    margin-top: 0;
    padding-top: 15px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #363636;
    font-weight: lighter;
    font-size: 20px;
}
#p1{
    width: 298px;
    height: 35px;
    margin-left: 180px;
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
    top: 657px;
    position: absolute;
    color: #696969;
    letter-spacing: 0.5px;
}
.hr1{
    position: absolute;
    width: 307px;
    height: 1px;
    background-color:#DBD7D2 ;
    left: 191.5px;
    border-radius: 15px;
    top: 676px;
    border: none;
}
#text2{
    width: 298px;
    height: 60px;
    margin-left: 180px;
    border-left: 0.5px solid #DBD7D2;
    border-right: 0.5px solid #DBD7D2;
    margin-top: 0;
    padding-top: 15px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #363636;
    right: 180px;
    font-weight: lighter;
    font-size: 20px;
}
#p2{
    width: 298px;
    height: 35px;
    margin-left: 180px;
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
    top: 657px;
    position: absolute;
    color: #696969;
    left: 342px;
    letter-spacing: 0.5px;
}
.hr2{
    position: absolute;
    width: 307px;
    height: 1px;
    background-color:#DBD7D2 ;
    left: 526px;
    border-radius: 15px;
    top: 676px;
    border: none;
}
#text3{
    width: 298px;
    height: 60px;
    margin-left: 180px;
    border-left: 0.5px solid #DBD7D2;
    border-right: 0.5px solid #DBD7D2;
    margin-top: 0;
    padding-top: 15px;
    text-align: left;
    padding-left: 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #363636;
    right: 180px;
    font-weight: lighter;
    font-size: 20px;
}
#p3{
    width: 298px;
    height: 35px;
    margin-left: 178px;
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
    top: 657px;
    position: absolute;
    color: #696969;
    right: 168px;
    letter-spacing: 0.5px;
}
.hr3{
    position: absolute;
    width: 307px;
    height: 1px;
    background-color:#DBD7D2 ;
    left: 861px;
    border-radius: 15px;
    top: 676px;
    border: none;
}
#div2{
    width: 320px;
}

#div3{
    width: 320px;
    margin-right: 320px;
}
.item{
    cursor: pointer;
}
#Collections{
    margin-left: 184px;
    margin-top: 60px;
    color: #1c1c1c;
    position: relative;
    font-weight: lighter;
    font-size: 36px;
    letter-spacing: 1px;
} 
#p4{
    margin-left: 185px;
    color: #363636;
    position: absolute;
    top: 795px;
    font-size: 18px;
    letter-spacing: 0.5px;
}
#p5{
    right: 163px;
    color: #363636;
    position: absolute;
    top: 800px;
    
}
#i4{
    transform: rotate(270deg);
    font-size: 16px;
    color: #e03543;
    margin-left: 10px;
}
#a2{
    margin-right: 10px;
    text-decoration: none;
    color: #e03543;
    margin-left: 2px;
}
#photo4div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}
#photo1{
    width: 320px;
    margin-left: 185px;
    border-radius: 15px;

}
#photo2{
    width: 320px;
}
#photo3{
    width: 320px;
}
#photo4{
    width: 300px;
    margin-right: 400px;
    border-radius: 15px;
}
.ph{
    height: 290px;
    width: 240px;
    object-fit: cover;
    margin: 2px;
    margin-top: 40px;
    border-radius: 5px;
}
.trend{
    position: absolute;
    top: 1075px;
    padding: 17px;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, .5);
    width: 206px;
    height: 26px;
    margin-left: 2px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}
#d1{
    position: absolute;
    top: 1098px;
    padding: 17px;
    margin-right: 98px;
    left: 188px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#di1{
    transform: rotate(270deg);
    color: white;
    margin-left: 6px;
    margin-top: 5px;
}
#d2{
    position: absolute;
    top: 1098px;
    padding: 17px;
    margin-right: 98px;
    left: 436px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#di2{
    transform: rotate(270deg);
    color: white;
    margin-left: 6px;
    margin-top: 5px;
}
#d3{
    position: absolute;
    top: 1098px;
    padding: 17px;
    margin-right: 98px;
    left: 686px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#di3{
    transform: rotate(270deg);
    color: white;
    margin-left: 6px;
    margin-top: 5px;
}
#d4{
    position: absolute;
    top: 1098px;
    padding: 17px;
    margin-right: 90px;
    left: 935px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#di4{
    transform: rotate(270deg);
    color: white;
    margin-left: 6px;
    margin-top: 5px;
}
#popular{
    margin-left: 184px;
    margin-top: 100px;
}
#popularp{
    font-size: 36px;
    color: #363636;
}
#park1{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
#park1:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.parka{
    text-decoration: none;
    display: flex;
    width: 352px;
}
#parkp1{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum1{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv1{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#parkp2{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum2{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv2{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#park2{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    left: 519.5px;
    top: 1337px;
}
#park2:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#parkp3{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum3{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv3{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#park3{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    left: 855px;
    top: 1337px;
}
#park3:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#parkp4{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum4{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv4{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#park4{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    top: 1440px;
}
#park4:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#parkp5{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum5{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv5{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#park5{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    left: 519.5px;
    top: 1440px;
}
#park5:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#parkp6{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum6{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv6{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#park6{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    left: 855px;
    top: 1440px;
}
#park6:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#parkp7{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum7{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv7{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#park7{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    top: 1540px;
}
#park7:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#parkp8{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 15px;
    left: 13px;
    font-weight: lighter;
}
#parknum8{
    position: absolute;
    top: 30px;
    left: 13px;
    color: #363636;
}
#parkdiv8{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(320deg);
    margin-left: 290px;
    position: absolute;
    bottom: 30px;
}
#park8{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    left: 519.5px;
    top: 1540px;
}
#park8:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#parkp9{
    font-size: 20px;
    color: #1c1c1c;
    margin: 0%;
    position: absolute;
    top: 10px;
    left: 13px;
    font-weight: lighter;
    padding-left: 90px;
    padding-top: 20px;
}
#parkdiv9{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    margin-left: 205px;
    position: absolute;
    bottom: 35px;
}
#park9{
    border: 0.5px solid #DBD7D2;
    width: 320px;
    height: 79px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    left: 855px;
    top: 1540px;
}
#rossy{
    background-color: #fffbf7;
    height: 480px;
    width: 1343px;
    position: absolute;
    top: 1700px;
    display: flex;
}
#dpic{
    object-fit: cover;
    height: 450px;
    width: 410px;
    position: absolute;
    right: 670px;
    top: 15px;
    display: flex;
}
#geth{
    position: absolute;
    right: 250px;
    top: 30px;
    font-size: 44px;
    font-weight: lighter;
}
#getp1{
    position: absolute;
    right: 219px;
    top: 125px;
    font-weight: lighter;
    color: #363636;
}
#getp2{
    position: absolute;
    right: 580px;
    top: 160px;
    font-weight: lighter;
    color: #363636;
}
label{
    line-height: 20px;
    font-size: 16px;
    
}
input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color: #ef4f5f;
    margin-top: 10px;
    margin-right: 10px;
    
}
.rdiv{
    display: flex;
    align-items: center;
    margin-right: 100px;
    justify-content: center;
}
#email{
    margin-left: 356.5px;
}
#pemail{
    position: absolute;
    left: 742px;
    top: 220px;
    font-weight: lighter;
    color: #1c1c1c;
}
#pphone{
    position: absolute;
    left: 876px;
    top: 220px;
    font-weight: lighter;
    color: #1c1c1c;
}
#em1{
    height: 70px;
    width: 292px;
    position: absolute;
    top: 280px;
    left: 717px;
}
#search1{
    height: 48px;
    width: 292px;
    font-size: 18px;
    padding-left: 12px;
    border-radius: 6px;
    border: 1px solid #BEBFC5;
}
#search1::placeholder{
    color: rgb(190, 191, 197);
}
#input{
    position: absolute;
    top: 280px;
    left: 1033px;
}
#share{
    height: 50px;
    width: 148px;
    background-color: #ef4554;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: all ease-in-out;
}

#share:hover{
    background-color: #E52B50;
}
#down{
    position: absolute;
    top: 350px;
    left: 717px;
    font-size: 15.4px;
    color: #9c9c9c;
}
#play{
    position: absolute;
    top: 190px;
    left: 94px;
    font-size: 15.4px;
    color: #9c9c9c;
    object-fit: cover;
    height: 40px;
    width: 137px;
}
#app{
    position: absolute;
    top: 190px;
    left: 174px;
    font-size: 15.4px;
    color: #9c9c9c;
    object-fit: cover;
    height: 40px;
    width: 137px;
}
#explore{
    position: absolute;
    top: 2200px;
    left: 200.5px;
}
#exp{
    color: #363636;
    font-size: 30px;
}
.pall{
    font-size: 20px;
    color: #1c1c1c;
}
#cui1{
    height: 66px;
    width: 998px;
    border: 0.5px solid #DBD7D2;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
#pa1{
    position: absolute;
    top: 5px;
    left: 20px;
}
#cui2{
    height: 66px;
    width: 998px;
    border: 0.5px solid #DBD7D2;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}
#pa2{
    position: absolute;
    top: 5px;
    left: 20px;
}
#cui3{
    height: 66px;
    width: 998px;
    border: 0.5px solid #DBD7D2;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}
#pa3{
    position: absolute;
    top: 5px;
    left: 20px;
}

#cui4{
    height: 66px;
    width: 998px;
    border: 0.5px solid #DBD7D2;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}
#pa4{
    position: absolute;
    top: 5px;
    left: 20px;
}
.rotate{
    height: 7px;
    width: 7px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    margin-left: 960px;
    position: absolute;
    bottom: 30px;
    transition: all 0.3s ease-in-out;
}
#footerimg{
    position: absolute;
    top: 2720px;
    height: 28px;
    width: 132px;
    left: 100px;
    margin-left: 105px;
}
#india{
    border: 1px solid #848482;
    height: 38px;
    width: 123px;
    position: absolute;
    top: 2730px;
    display: flex;
    left: 918px;
    border-radius: 7px;
    cursor: pointer;
}
#english{
    border: 1px solid #848482;
    height: 38px;
    width: 123px;
    position: absolute;
    top: 2730px;
    display: flex;
    left: 1070px;
    border-radius: 7px;
    cursor: pointer;
}
#flag{
    height: 14px;
    width: 22px;
    position: absolute;
    bottom: 11px;
    right: 95px;    
}
#div{
    position: absolute;
    top: 2741px;
    display: flex;
    left: 960px;
    font-size: 18px;
    color: #1c1c1c;
    cursor: pointer;
}
.rotate1{
    height: 5px;
    width: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    margin-left: 105px;
    position: absolute;
    bottom: 15px;
}
#eiv{
    position: absolute;
    top: 2741px;
    display: flex;
    left: 1105px;
    font-size: 18px;
    color: #1c1c1c;
    cursor: pointer;
}
#globe{
    font-size: 18px;
    position: absolute;
    color: #100C08;
    top: 12px;
    left: 5px;
}
#list{
    list-style: none;
    padding: 0;
    font-size: 18px;
    padding-left: 15px;
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
#navs{
    position: absolute;
    top: 2781px;
    display: flex;
    left: 77px;
    text-align: justify;
    justify-content: space-evenly;
    width: 1100px;
}
.a2{
    padding-left: 40px;
}
#about{
    position: absolute;
    top: 2830px;
    left: 207px;
}
.zomato{
    text-decoration: none;
    color: #696969;
    font-size: 14.5px;
}
#Zomaverse{
    position: absolute;
    top: 2830px;
    left: 407px;
}
#For{
    position: absolute;
    top: 2830px;
    left: 580px;
}
#learn{
    position: absolute;
    top: 2830px;
    left: 810px;
}
#links{
    position: absolute;
    top: 2845px;
    left: 990px;
    border-radius: 50%;   
}
#g1{
    font-size: 20px;
    margin-right: 4px;
}
.zomat{
    text-decoration: none;
}
.ap{
    object-fit: cover;
    height: 40px;
    width: 137px;
}
#appsplay{
    position: absolute;
    top: 2875px;
    left: 460px;
}
#ds{
    position: relative;
    bottom: 5px;
}
#hf{
    width: 1008px;
    position: absolute;
    left: 207px;
    top: 3120px;
    border: none;
    background-color: #DEDCD8;
    height: 1px;
}
#by1{
    position: absolute;
    top: 3140px;
    left: 207px;
    font-size: 13px;
    color: #696969;
}
#by2{
    position: absolute;
    top: 3160px;
    left: 207px;
    font-size: 13px;
    color: #696969;
}
#color{
    background-color: rgba(221, 221, 221, 0.2);
    height: 500px;
    width: 1343px;
    position: absolute;
    top: 2690px;
}










